window {
    background-color: rgba(12, 12, 12, 0.8);
}

button {
    color: var(--view-fg-color, #ececec);
    background-color: #1d1d1d;
    border: none;
    padding: 10px;
}

button label.action-name {
    font-size: 24px;
}

button label.keybind {
    font-size: 20px;
    font-family: monospace;
}

button:hover label.keybind, button:focus label.keybind {
    opacity: 1;
}

button:focus,
button:hover {
    background-color: #2c2c2c;
}

button:active {
    color: #101010;
    background-color: #8cb4ff;
}

button#shutdown {
    --view-fg-color: #ff8d8d;
}

button#hibernate {
    --view-fg-color: #a8c0ff;
}

button#reboot {
    --view-fg-color: #84ffaa;
}

button#lock {
    --view-fg-color: #ffe8b6;
}

button#logout {
    --view-fg-color: #ffcca8;
}

button#suspend {
    --view-fg-color: #caaff9;
}
